.detailContainer{
    height: 100%;
    background: #1565D8E5;
    padding:60px
}
.logo{
    display: flex;
    align-items: center;
    color: white
}
.logo img{
    margin-right: 10px;
}
.quoteContainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quoteContainer p{
    color:white;
    font-size:20px
}
.author{
    font-weight: 500;
}
.quoteInnerContainer{
    position: relative;
}
.dotsImage{
    position: absolute;
    top: -100px;
    right: 150px;
}

.quoteImage{
    margin-bottom: 15px;
}

.quoteDescription{
    font-weight: 400;
    line-height: 38px;
}
.vector{
    position: absolute;
    right: 0px;
}

@media screen and (max-width: 760px) {
    .dotsImage{
        position: absolute;
        top: -59px;
        right: 77px;
    }
    
  }
  